<h1>Отображение выбранной категории</h1>

<div>
  <p> Производитель: <%= @category.produces %> </p>
  <p> Модель: <%= @category.model %> </p>
  <p> Год_изготовления: <%= @category.year %>  </p>
  <p> Средняя_цена: <%= @category.average_price %> </p>
  <p> Комплектация: <%= @category.equipment %> </p>
  <p> Примечания: <%= @category.notes %> </p>
</div>